body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.layout {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.header {
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 2em;
  width: 100%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

/*.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 2em;
  border-top: 0.5px solid black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}*/

.header div {
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.header nav,
.nav {
  display: block;
  float: right;
  text-align: center;
}

.nav {
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  background-color: white;
}

.nav__link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.4s;
  font-weight: 900;
}

.nav__link2 {
  text-decoration: none;
  transition: 0.4s;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 10px;
}
.nav__link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  text-align: center;
  cursor: default;
  align-items: center;
  background-color: #3feee6;
}

.home-main h1 {
  font-weight: 900;
  font-size: 10em;
  margin-bottom: 0;
  letter-spacing: 7px;
  text-shadow: 4px 2px 0px #fc4445;
}

.home-main h3 {
  font-size: 5em;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.subtitle {
  letter-spacing: 4px;
}
.wrapper {
  width: 100%;
  height: 100;
}

.vert-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 0.5px solid black;
  transition: 0.4s ease;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-decoration: none;
}

.vert-nav2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-right: 0.5px solid black;
  padding-left: 2em;
  padding-right: 2em;
  transition: 0.4s ease;
}

.horizontal-nav {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding-top: 0.5em;
  text-decoration: none;
  border-top: 0.5px solid black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-icons {
  width: 50%;
  display: flex;
  padding-top: 1em;
}
.icon-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  transition: 0.4s ease;
  text-shadow: 2px 2px 2px #69e5af;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  width: 100vw;
}

.arrow {
  padding-right: 2em;
  padding-left: 2em;
  transition: 0.4s;
  text-shadow: 2px 2px 2px #69e5af;
}

.about-section {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-justify: justify;
  align-items: center;
}

.project-section {
  height: 100vh;
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.about-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #fc4445;
}

.porject-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f9d4d3;
}
.about-main {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.about-main h2 {
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #3feee6;
  text-align: left;
}

.about-main p {
  font-size: 1.5em;
  letter-spacing: 5px;
}

#About,
#Projects {
  scroll-behavior: smooth;
}

/*.projects {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1581215524789-83361d941827?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
  justify-content: center;
}*/

/*.projects_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}*/

.projects_items {
  height: 100%;
  /*margin-top: 6em;*/
  width: 100%;
}
.layout {
  scroll-behavior: smooth;
}
.projects_item_scrollable {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project_box {
  margin-bottom: 1.25rem;
  color: black;
  text-align: center;
  /*border: 0.5px solid black;*/
  cursor: default;
  height: 100%;
  width: 50%;
  position: relative;
}

.img-proj {
  width: 70%;
  height: auto;
}
#proj_box_title {
  font-size: 3rem;
  padding-top: 1.85em !important;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 4px 2px 0px white;
}

.hoverbox-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.hover_box {
  border: 1px solid black;
  margin: 1rem;
  width: 10em;
  transition: 0.5s ease;
  text-decoration: none;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.hover_box a {
  text-decoration: none;
  font-weight: 900;
  transition: 0.5s ease;
}

#hover_box:hover {
  transform: scale(1.2);
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  color: black;
}

.proj_desc {
  margin-left: 6em;
  margin-right: 6em;
  letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .header div {
    align-items: flex-start;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    box-shadow: none;
  }
  .nav {
    box-shadow: none;
    margin-bottom: 0.75em;
    background-color: black;
  }

  .nav__link {
    color: white;
  
  }

  .home-main {
    height: 110vh;
    width: 100%;
  }

  .home-main h1 {
    font-size: 8em;
  }

  .home-main h3 {
    font-size: 3em;
  }

  .about-section {
    height: 170%;
  }

  .about-main {
    text-align: center;
  }

  .about-main h2 {
    text-align: center;
  }

  .about-main p {

    font-size: 1.15em;

  }

  .projects_item_scrollable {
    flex-direction: column !important;
    height: 100%;
    width: 100%;
  }

  .project_box {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
  }

  #proj_box_title {
    font-size: 2.25rem !important;
    
  }
  .proj_desc {
    margin-left: 3em;
    margin-right: 3em;
  }

  .resume_section {
    margin-top: 3em !important;
    top: 100px !important;

  }
}
